.container{
	margin: 0;
	padding: 0;
}

.addtodo-container{
	text-align: center;
	padding: 10px;
}

.addtodo-forms{
	text-align: left;
	margin: 10px 10px 10px 20px
}

.heading{
	text-align: center;

}
.error-msg{
	color: red;
	font-size: 20px;
	display: none;
}

.form-group{
	font-size: 25px;
	margin:20px auto; 	 
}
.buttons{
	margin:10px auto 20px; 	 
	text-align: center;
}

.cat{
	display: inline-block;
}

.cat label{
	font-size: 20px;
}

.row2{
	padding-left: 135px;
}

.form-filed{
	font-size: 20px;
	padding-left: 10px;
	height: 40px;
    width: 200px;
}

.form-container{
	background-color: rgb(255, 228, 196, 0.5);
	border: 2px solid;
	width: 50%;
	margin: 0 auto;
}
.main-label{
	font-size: 25px;
	color: green;

}

.form-control{
	font-size: 25px;
	border-radius: 15px; 
	height: 45px;
	width: 140px;
	color: white;
	outline: none;
}	

#reminder-date{
	display: none;
}

.add-btn{
	background-color:#58b85d;
}

.add-btn:hover{
	color:#58b85d;
	background-color:  white;
}

.reset-btn{
	background-color: #969595;
	
}

.reset-btn:hover{
	color:#58b85d;
	background-color:  white;
}